//--------------------------- Breakpoints --------------------------------
desktop-breakpoint = 768px
largescreen-breakpoint = 1248px


//------------------------------ Fonts -----------------------------------
regular_font = 'Roboto', sans-serif


//------------------------------ Paths -----------------------------------
image_path = '/src/assets/images/'

//------------------------------ Colors ----------------------------------
color_anchor = #0036fb
hover_anchor = #064d82
primary-color = #c4e4f9
//------------------------------ Speed animations ------------------------
animation_speed = 0.5s